<div id="footer">
  <div id="loadSpinner">
    <div class="spinner icon-spinner"></div>
  </div>
  <p>
  &copy; 2023
  <%= link_to "Powered by Alces Concertim", "https://alces-flight.com" %>
  (<%= link_to "Privacy policy", "https://localhost:9446/-/privacy" %>)
  </p>
</div>
