<header>
  <%= link_to "/" do %>
    <img class="logo" src="/personalities/ct/images/logo-left.png">
  <% end %>

  <a href="https://alces-flight.com/">
    <img class="right" src="/personalities/ct/images/logo-right.png">
    <div class="right gradient-fade"></div>
  </a>
</header>


<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <li class="toggle-topbar menu-icon">
        <a href="#menu">
          <span>Menu</span>
        </a>
      </li>
    </li>
  </ul>
  <section class="top-bar-section">
    <%= render_navigation expand_all: true, renderer: TopbarRenderer  %>
  </section>
</nav>
