<div id="side" class="fill">
  <div id="sidemenu" class="fill">
    <%= yield :side_content %>
  </div>
</div><!--side-->
<div title="Click to toggle the display of the side pane." id="hideSideContent"></div>
