<html>
  <head>
  </head>
  <body>
    <h1>Placeholder invoice for <%= @user.billing_period %></h1>

    <table>
      <thead>
        <tr>
          <th>Racks</th>
          <th>Cost</th>
        </tr>
      </thead>
      <tbody>
        <% @user.send(:o).racks.each do |rack| %>
          <% rack = Api::V1::RackPresenter.new(rack) %>
          <tr>
            <td><%= rack.name %></td>
            <td><%= rack.currency_cost %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th scope="row">Total</th>
          <td><%= @user.currency_cost %></td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>
