/*
   Greens
*/

$ct-green: #61c256;
$ct-green-dark: darken($ct-green, 10%);
$ct-green-darker: darken($ct-green, 20%);
$ct-minty-green: #61c256;


/*
   Blues
*/

$blue: #467aa7;
$lightest-blue: #C5DCE8;
$light-blue: #83a2bf; 
$dark-blue: #3b5168;


/*
   Greys
*/

$lightest-grey: #fefefe;  
$lighter-grey: #E8E8E8;
$light-grey: #C0C0C0;  
$grey: #929292;
$dark-grey: #888;

/*
   Warning colors
*/
$pastel-green: #7aa745;
$pastel-red: #b35d5d;


/*
   Miscellaneous
*/
$dark-yellow: #FFC400;
$peach: #e68a57;
