#new_fleece_cluster {
  .formItem {
    margin-bottom: 1rem;
  }

  .new-cluster-field {
    margin-bottom: 0;
  }

  .constraint-text {
    max-width: 20rem;
    color: grey;
    font-size: 90%;
  }

  .error-message {
    max-width: 20rem;
  }
}
