<% set_title "Users" -%>

<p>Edit your own details using the <%= link_to "Account details", edit_user_registration_path %> page.</p>

<%= render_resource_table_for @users, searchable: true do |t| %>
  <% t.on_empty_collection do %>
    <% capture do %>
      No users have been found.
    <% end %>
  <% end %>

  <% t.attribute_column :id, sortable: true %>
  <% t.attribute_column :login, text: "Username", sortable: true do |user, login| %>
    <% user != current_user ? login : "#{login} (you)" %>
  <% end %>
  <% t.attribute_column :name, sortable: true %>
  <% t.custom_column "Authorization Level", sortable: true, db_column: :root do |user| %>
    <% presenter_for(user).authorization %>
  <% end %>
  <% t.custom_column "Teams" do |user| %>
    <% presenter_for(user).team_role_list %>
  <% end %>
  <% t.attribute_column :cloud_user_id, title: "Cloud User ID", sortable: true %>
  <% t.custom_column "Teams" do |user| %>
    <% presenter_for(user).team_role_list %>
  <% end %>
  <% t.attribute_column :cloud_user_id, text: "Cloud User ID", sortable: true %>
  <% t.custom_column "Status", sortable: true, db_column: :deleted_at do |user| %>
    <% presenter_for(user).status %>
  <% end %>

  <% t.actions_column do |actions, user| %>
    <% if user == current_user %>
      <% actions.add text: 'Edit', path: edit_user_registration_path %>
    <% else %>
      <% actions.add_with_auth can: :edit, on: user, text: 'Edit', path: edit_user_path(user) %>
    <% end %>
    <%
        actions.add_with_auth(can: :destroy, on: user,
          text: 'Delete',
          path: user_path(user),
          method: 'delete',
          data: {confirm: presenter_for(user).delete_confirmation_message},
        )
    %>
  <% end %>

<% end %>
