<% set_title "Manage users for team #{@team.name}" -%>

<% if current_user.can?(:create, TeamRole.new(team_id: @team.id)) %>
  <%= link_to "+ Add user to team", new_team_team_role_path, class: "button" %>
<% end %>

<div id="team-roles-table">
  <%= render_resource_table_for @team_roles, searchable: true do |t| %>
    <% t.on_empty_collection do %>
      <% capture do %>
        No team roles have been found.
      <% end %>
    <% end %>

    <% t.attribute_column :user_id, sortable: true %>
    <% t.attribute_column :user_name %>
    <% t.attribute_column :role, sortable: true %>
    <% t.actions_column do |actions, team_role| %>
      <% actions.add_with_auth can: :edit, on: team_role, text: 'Edit role', path: edit_team_role_path(team_role) %>
      <% presenter = presenter_for(team_role) %>
      <%
        actions.add_with_auth(can: :destroy, on: team_role,
                              text: 'Remove from team',
                              path: team_role_path(team_role),
                              method: 'delete',
                              data: presenter.requires_confirmation?(current_user) ? {confirm: presenter.delete_confirmation(current_user)} : {},
                              )
      %>
    <% end %>
  <% end %>
</div>
