<% cluster_type = card %>

<% if current_user.can?(:create, Cluster) %>
  <%= link_to(new_cluster_type_cluster_path(cluster_type), class: "cluster-type-card") do %>
    <%= render partial: 'card_content', object: cluster_type %>
  <% end %>
<% else %>
  <% title =  if current_ability.enough_credits_to_create_cluster?
                "You do not have permission to create clusters"
              else
                "Insufficient credits. You must have at least #{Rails.application.config.cluster_credit_requirement} credits to create a cluster"
              end
  %>
  <span title="<%= title %>" class="cluster-type-card cluster-type-card--disabled">
    <%= render partial: 'card_content', object: cluster_type %>
  </span>
<% end %>
