<% set_title "Select cluster type #{ "for team #{@team.name}" if @team}" %>
<% content_for(:side_content) do %>
  <%= render 'actions' %>
<% end %>

<div class="text-center">
  <h3>
  Choose from our selection of cluster types to start building a cluster using
  your private cloud resources.
  </h3>
</div>

<% if @cloud_service_config.nil? %>
   <p>
     New clusters cannot be launched as the Cloud Environment has not yet been configured.
     <% if current_user.root %>
       Please <%= link_to 'set the configuration', cloud_service_config_path %> to continue.
     <% else %>
      Please contact an admin.
     <% end %>
   </p>
<% elsif @cluster_types.empty? %>
  <p>There are no cluster types available at present.</p>
<% else %>
  <div class="cluster-types-card-deck">
    <% @cluster_types.each do |cluster_type| %>
      <%= render partial: 'card', object: cluster_type, locals: { team: @team } %>
    <% end %>
  </div>
<% end %>
