<%=
  render_action_dropdown 'Rack actions' do |builder|
    builder.add title: 'Export data', path: '#', id: :export_link
  end
%>

<h4 id="rack_actions">Rack actions</h4>
<div id="side_bar" class="main_pane irv_side_bar">
  <div id="thumb_nav" class="thumb_nav"></div>
  <div id="zoom_container" class="div_table" >
    <div class="div_row div_row_header">
        Zoom
    </div>
    <div class="div_row">
      <div class="div_cell_three_col">
        <div class="fieldinput toolTip zoom_in" title="Zoom in">
          <span class="icon-zoom-in" id="zoom_in_btn"></span>
        </div>
      </div>
      <div class="div_cell_three_col">
    		<div class="fieldinput toolTip zoom_out" title="Zoom out">
          <span class="icon-zoom-out" id="zoom_out_btn"></span>
        </div>
      </div>
      <div class="div_cell_three_col">
    		<div class="fieldinput toolTip zoom_reset" title="Zoom reset">
          <span class="icon-zoom-reset" id="reset_zoom_btn"></span>
        </div>
      </div>
    </div>
  </div>

  <div id="preset_container" class="div_table">
    <div class="div_row div_row_header">
      &nbsp;Preset
    </div>
    <div class="div_row">
      <div class="div_cell">
        <select
            id="presets"
            style="margin-bottom: 0;"
            data-bind="options: presetNames, optionsCaption: 'Select a preset', value: selectedPreset, enable: enableMetricSelection"
            >
        </select>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <div id="save_dialogue">
          <label>
            Enter preset name <input type="text" id="save_input"/>
          </label>
          <br>
          <a id="confirm_preset_save" href="#" >Save</a>
          <a id="cancel_preset_save" href="#">Cancel</a>
        </div>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell right_col preset_controls">
        <a href="#" id="reload_preset" data-bind="click: document.IRV.switchPreset">Reload</a>
        <a href="#" id="update_preset">Update</a>
        <a href="#" id="create_preset">Create</a>
      </div>
    </div>
  </div>

  <div id="metric_container" class="div_table metric_container">
    <div class="div_row div_row_header">
      Metric
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label>
          Select metric
        </label>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <%= render_autocomplete_field( "metrics", {:name=>'associated_metric', :no_field_id_prepend=>true, :is_remote_url => false, :url => "document.IRV.model.metricIds", :onfocus => "document.IRV.evFocusMetricSelect(event)", :onmouseup => "document.IRV.evMouseUpMetricSelect(event)", :databind => "value: selectedMetric, enable: enableMetricSelection"}) %>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell right_col">
        <a href="#" id="reset_metric" class="disabled" data-bind="click: document.IRV.clearSelectedMetric">Clear</a>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label class="toolTip" for="metric_timeframe">
          Metric timeframe
        </label>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <select id="metric_timeframe" name="metric_timeframe"
                data-bind="options: metricTimeframes, optionsText: 'caption', optionsValue: 'value', value: metricTimeframe, enable: enableMetricSelection">
        </select>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label class="toolTip" title="Minimum value: 60, set to 0 to switch off metric polling">
          Metric refresh rate (s)
        </label>
      </div>
    </div>
    <div class="div_row toolTip" title="Minimum value: 60, set to 0 to switch off metric polling">
      <div class="div_cell">
        <input type="text" name="metric_poll_rate" id="metric_poll_input" />
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label>
          Show settings
        </label>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <select id="view_mode" data-bind="options: viewModes, value: viewMode"></select>
      </div>
    </div>
  </div>

  <div id="extra_options" class="div_table div_last_table">
    <div class="div_row div_row_header">
      &nbsp;Options
    </div>
    <div class="div_row">
      <div class="div_cell_label">
        <label>
          Scale metric bars
        </label>
      </div>
      <div class="div_cell_check_radio right_col">
        <input type="checkbox" id="scale_metrics" name="scale_metrics" value="scale_metrics" data-bind="checked: scaleMetrics"/>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell_label">
        <label>
          Show chart
        </label>
      </div>
      <div class="div_cell_check_radio right_col">
        <input type="checkbox" id="show_chart" name="show_chart" value="show_chart" data-bind="checked: showChart"/>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell_label">
        <label>
          Show filter bar
        </label>
      </div>
      <div class="div_cell_check_radio right_col">
        <input type="checkbox" id="show_filter_bar" name="show_filter_bar" value="show_filter_bar" data-bind="checked: showFilterBar"/>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell_label">
        <label title = "Invert the colours of the Filter Bar and the Graph." class="inline_tooltip nowrap">
          Inverted colours
        </label>
      </div>
      <div class="div_cell_check_radio right_col">
        <input type="checkbox" id="inverted_colours" name="inverted_colours" value="inverted_colours" data-bind="checked: invertedColours"/>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label>
          Graph Order
        </label>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell" style="padding-left: 1em;">
        <select id="sort" data-bind="options: graphOrders, value: graphOrder"></select>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell">
        <label>
          &nbsp;Rack facing
        </label>
      </div>
    </div>
    <div class="div_row">
      <div class="div_cell" style="padding-left: 1em;">
        <select id="sort" data-bind="options: faces, value: face"></select>
      </div>
    </div>
  </div>
</div>
