<div class="alert-box <%= @level %>" data-alert="true" id="<%= @hidden ? 'flash-template' : "#{@level}Container" %>">
  <span class="icon-info"></span>
  <span class="flash-content"><%= @content %></span>
  <a class="close" href="#">&times;</a>
</div>
