.cluster-type-card {
  width: 22rem;
  border: darkgray 1px solid;
  padding: 0.5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;

  .card-divider {
    border-bottom: darkgray 1px solid;
  }

  .disabled-cluster-link {
    color: #63666A;
    cursor: not-allowed;
    font-weight: bold;
  }
}

.cluster-types {
  display: flex;
  flex-wrap: wrap;
}
