#metrics-choices {
  display: flex;
  align-items: center;


  .metric-check-box {
    margin-left: 0.25rem;
    margin-bottom: 0;
  }

  .metric-check-box-label {
    margin-left: 0.25rem;
  }
}

#metric-timeframe {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;

  label {
    white-space: nowrap;
    padding-bottom: 0.85rem;
  }
}

#metric-date-pickers {
  display: flex;
  justify-content: left;
  width: 100%;

  label {
    display: none;
  }

  #date-range-text {
    padding-top: 0.6rem;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
  }
}

.metric-chart-section {
  height: 20rem;
  margin-top: 5rem;
}

.no-data-text {
  text-align: center;
  display: none;
}
