<% set_title 'Your key-pairs' -%>

<% if @key_pairs.any? %>
  <h4>Current key-pairs</h4>

  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Fingerprint</th>
    </tr>
    <% @key_pairs.each do |key_pair| %>
      <tr>
        <td><%= key_pair.name %></td>
        <td><%= key_pair.key_type %></td>
        <td><%= key_pair.fingerprint %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>
    You currently have no key-pairs.
  </p>
<% end %>

<div>
  <a href=<%= new_key_pair_path %> class="button">+ Create new key-pair</a>
</div>
