<div class="table_controls row">
  <div class="small-3 columns">
    <%= render view: :search_box %>
  </div>
</div>

<div>
  <p>
  <strong><%= @table.render_as_empty || "No items found" %></strong>
  </p>
</div>
