/* 
 Utility classes

 Note: Some utility classes are already provided by foundation, and there
 are some duplicates here (e.g. we have both "hide" provided by foundation, and
 "hidden" which someone has written, plus things like "textright" also have foundation
 equivalents). 
*/

.invisible {
  visibility: hidden !important;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

/*
 Looks like this legacy class may have been an attempt to only hide/show certain
 things if the user had javascript enabled/disabled.
*/
.jshide {
  display: none !important;
}

div.clearFloats, .clear {
  clear:both;
}

.center {
  text-align: center;
}

.textcenter {
  text-align:center;
}

.textright {
  text-align:right;
}

.nowrap {
  white-space: nowrap;
}

.important {
  color: $pastel-red; background-color:inherit; font-weight:bold;
}

.floatright {
  float:right;
}

.has_border {
  border-style: solid;
  border-width: 1px;
}
.has_right_border {
  border-right-style: solid;
  border-right-width: 1px;
}
.has_left_border {
  border-left-style: solid;
  border-left-width: 1px;
}

.floatleft {
  float:left;
}

.marginright {
  margin-right :5px !important;
}

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.no_width {
  width: auto !important;
}

.no_border {
  border: none !important;
}

.lower_case { text-transform: lowercase;  }
.upper_case { text-transform: uppercase;  }
.capitalize { text-transform: capitalize; }

/*
 Top Padding / Margin Adders and Removers
 ========================================

 In anticipation of being asked to add/remove margins/padding willy-nilly. This way 
 it at least stays "consistently inconsistent" and the usage of these classes can easily
 be grepped for if we ever change it.
*/

.no-bottom-padding { padding-bottom: 0 !important;  }
.no-bottom-margin  { margin-bottom: 0 !important; }
.no-top-padding    { padding-top: 0 !important;  }
.no-top-margin     { margin-top: 0 !important; }
.bottom-padding { padding-bottom: rem-calc(20) !important;  }
.bottom-margin  { margin-bottom: rem-calc(20) !important; }
.top-padding    { padding-top: rem-calc(20) !important;  }
.top-margin     { margin-top: rem-calc(20) !important; }
