<% content_for(:head) do %>
  <%= javascript_include_tag "mia/contrib/knockout.js" %>
  <%= javascript_import_module_tag "IRV" %>
<% end %>

<div id="interactive_canvas_view">
  <div id="loader">
    <div id="dialogue">Initialising</div>
  </div>
  <%= tag('div', id: "rack_view", data: {preset: 0, focus: "", filter: "", show: "full_irv", applyfilter: ""}) %>
</div>
